.bg-fabulous{
    background-image: url('../img/fabulous.png');
    background-size: cover;
    height: 600px;
}
.mt-312{
    margin-top: 312px;
}
.form-border{
    border: 2px border-primary solid;
}
.mr-20{
    margin-right: 20px;
}
.my-36{
    margin-right: 36px;
    margin-left: 36px;
}