.bg-fabulous{
    background-image: url('../img/layout/fabulous.png');
    background-size: cover;
    height: 600px;
}
.mt-312{
    margin-top: 312px;
}

.formborder{
    border: 2px #916000 solid;
}

.form-control{
    border-radius: 0;
}
.btn{
    border-radius: 0;
}
@media (max-width: 768px){
    .width-180{
        width: 180px;
    }
}