.bannerIndex{
    background-image: url('../img/indexPage/bannerIndex.png');
    margin-bottom: 60px;
    background-size: cover;
    height: 870px;
}
.btn-width{
    width: 270px;
}

.img-right{
    text-align: right;
}
.bg-gray{
    background-color: #E0E0E0;
}
.bg-apple{
    background-image: url('../img/indexPage/apple.png');
}
.position-center{
    position: absolute;
    left: 38%;
    top: 50%;
}
.text-24{
    font-size: 24px;
}
del{
    color: $success;
}