.detailTitle{
    font-size: 32px;
}
.detailSubTitle{
    font-size: 20px;
}
.detailPrice{
    font-size: 20px;
}
.addCart{
    font-size: 16px;
    height: 38px;
}
.select{
    width: 160px;
    border: 1px $secondary solid;
    border-radius: 0;
}